.container {
  max-width: 960px; }

/*
 * Custom translucent site header
 */
.site-header {
  background-color: pink;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.site-header a {
  color: #999;
  transition: ease-in-out color .15s; }

.site-header a:hover {
  color: #fff;
  text-decoration: none; }

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.col-md-5 {
  text-align: center; }

.product-device {
  position: absolute;
  right: 10%;
  bottom: -10%;
  width: 300px;
  height: 540px;
  border-radius: 21px;
  -webkit-transform: rotate(30deg); }

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px; }

/*
 * Extra utilities
 */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1; } }

.overflow-hidden {
  overflow: hidden; }

.bg-light {
  background-color: #ffafcc !important; }

body {
  background-color: #ffafcc !important; }

h1 {
  width: 100%;
  text-align: center; }

img {
  object-fit: cover; }

.bg-dark {
  background-image: url(../images/bubbles.jpg); }

.beerquote {
  display: box;
  background-color: pink;
  float: left; }

.beerquote p {
  font-family: playbill, cursive; }

.slideshow {
  position: relative;
  display: block;
  background: pink;
  float: left; }

.btn-primary {
  text-align: center; }

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center; }

/* Add an italic font style to all quotes */
q {
  font-family: playbill, cursive;
  font-size: 3rem; }

/* Add a blue color to the author */
.author {
  color: cornflowerblue; }
